<h3>Welcome {{name}}</h3>
<p>Here are the available songs</p>
{{#if songs}}
<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>duration</th>
            <th>Artist</th>
            <th>NumberOfPlays</th>
            <th>Link</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each songs}}
        <tr>
            <td>{{Name}}</td>
            <td>{{duration}}</td>
            <td>{{Artist}}</td>
            <td>{{NumberOfPlays}}</td>
             <td>
                 <form action="/songs/play/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="btn red">
                        <i class="fas fa-play"></i>
                    </button>
                </form>
             </td>
            
            <td>
                <a href="/songs/playlists/{{_id}}" class="btn red">
                    <i class="fas fa-plus"></i>
                </a>
            </td>
            <td>
                <a href="/songs/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="/songs/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<p>No songs added yet</p>
{{/if}}
{{>_add_btn.songs}}
